@import "~antd/dist/antd.less";
@import "../styles/colors.less";

#root {
  display: flex;
  height: 100%;
  background-color: @app-background;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
}

main {
  height: 100%;
  overflow: auto;
  padding: 3rem;
}
