.header {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 300px;
  max-height: 400px;
  overflow-y: hidden;
}

.cardNoPadding {
  width: 300px;
  max-height: 300px;
  :global(div.ant-card-body) {
    padding: 0;
  }
}

.container {
  padding: 1.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.cardContainer {
  display: flex;
  justify-content: space-between;
}

.cardColumnContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:not(:last-child) {
  margin-bottom: 2rem;
}

:global(li.ant-timeline-item-last > div.ant-timeline-item-content) {
  min-height: 0;
}

:global(li.ant-timeline-item-last) {
  padding-bottom: 0;
}

.leadName {
  margin-bottom: 0;
}

.convertProgressContainer {
  width: 400px;
  text-align: end;
}
