.navigation {
  background-color: @black;
  height: 100vh;
  width: 75px;
}

.logo {
  align-items: center;
  display: flex;
  height: 75px;
  justify-content: center;
  margin: auto;
  width: 100%;
}
