.navButton {
  background: none;
  border: none;
  cursor: pointer;
  height: 3.5rem;
  margin: 0 auto 4rem auto;
  outline: none;
  width: 100%;
}

.addButtonContainer {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
