.navButton {
  background: none;
  border: none;
  cursor: pointer;
  height: 3.5rem;
  margin: 0 auto 4rem auto;
  width: 100%;
}

.addButton {
  background: @blue-6;
  border-radius: 50%;
}

// try to increase icon size
// .icon {
//   font-size: 1.5rem !important;
// }

// :global(.ant-menu-inline-collapsed > li.ant-menu-item) {
//   padding: 0 calc(50% - 1.5rem / 2);
// }

// :global(.ant-menu-vertical li.ant-menu-item:not(:last-child)) {
//   margin-bottom: 1rem;
// }
